body{
font-family:sans-serif;
}

h1{
color:#ffffff;
font-size:25px;
}

p{
font-size:20px;
}

table{
background-color:#0ae5f4;
text-align:center;
}

main img{
 border: 5px solid red;
}